:root {
  --portfolio-color:#171717;
  /*DELETEorCHANGE 
  --branding-color:#4b5668*/
  --branding-color: #4b5668;
  --secondary-color: #e0cfc2;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body,html {
  font-family: var(--default-font-family);
  background-color: var(--portfolio-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}


h3 {
  font-size: 48px;
}

.portfolio-content {
  padding: 10px 10px;
  }
  
 .portfolio-body {
   background-color: #fff;
   box-shadow: 0px 0px 32px 17px rgba(170, 160, 156, 0.2);
   padding: 1px 20px 3px 15px;
  }
  
  .portfolio-body p {
  font-weight: normal;
  font-size: 45px;
  font-family: var(--heading-font-family);
  line-height: 30px;
  color: var(--portfolio-color);
  text-shadow: 5px 5px 6px rgb(23 23 23 / 20%);
  padding-bottom: 20px;
}

.hero {
  background: var(--portfolio-color);
  text-align: center;
  padding: 80px 20px;
  margin: 1px 10px;
  text-transform: uppercase;
}

.hero h1 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-size: 40px;
  margin: 0px 0px 10px 320px;
}

.hero h2 {
  color: white;
  font-family: var(--heading-font-family);
  font-size: 65px;
  margin: 15px 0px 0px 470px;
  text-shadow: 5px 5px rgb(224 207 194 / 50%);
}

.hero h3 {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 22px;
  margin: 15px 180px 0px 0px;
}

.content-container {
  padding: 15px 0px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family--heading-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--portfolio-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: white;
  cursor: crosshair;
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  cursor: crosshair;
}

.project-image {
  border: 1px solid white;
  padding: 10px 40px;
  box-shadow: 15px 17px 20px var(--secondary-color);
  border-radius: 5px;
  filter: grayscale(100%);
}

.project-image:hover {
  cursor: crosshair;
  filter: none;
}

.project-description {
  padding: 10px 20px 180px 30px;
}

.project-description p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--portfolio-color);
  text-shadow: none;
}

.social-links a {
  margin: 0 20px;
  color: var(--portfolio-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  cursor: crosshair;
}

.logo {
  max-height: 80px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  font-family: var(--default-font-family);
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--portfolio-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box,
.contact-page {
  background: var(--portfolio-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box h3, h4 {
  margin: 0;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-weight: normal;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--portfolio-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  cursor: crosshair;
  background: var(--secondary-color);  
}

.author p, a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  text-shadow: none;
  font-family: var(--default-font-family);
}

.author a:hover {
  cursor:crosshair;
  color: var(--secondary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .portfolio-content {
  font-size: 44px;
  }
  
 .portfolio-body {
  font-size: 25px;
}

.portfolio-body p {
  font-size: 20px;
}

.project-description p {
 font-size: 12px;
}


  .hero h1 {
    font-size: 18px;
    line-height: 2;
    margin: 10px;
  }
  .hero h2 {
    font-size: 25px;
   margin: 1px -60px 0px 0px;
  }

  .hero h3 {
    font-size: 10px;
    margin: 1px 30px 3px 13px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .btn-branding {
    font-size: 10px;
    padding: 5px 10px 5px 10px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .logo {
    max-height: 40px;
  }

  nav a {
    font-size: 12px;
  }

  .author p, a {
    font-size: 10px;
  }
}
