:root {
  --portfolio-color:#171717;
  --branding-color: #4b5668;
  --secondary-color: #e0cfc2;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body,html {
  font-family: var(--default-font-family);
  background-color: var(--portfolio-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}


h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.portfolio-content {
    padding: 10px 280px;
  }
  
  .portfolio-body {
    background-color: #fff;
    box-shadow: 0px 0px 32px 17px rgba(170, 160, 156, 0.2);
}

.hero {
  background: var(--portfolio-color);
  text-align: center;
  padding: 80px 20px;
  margin: 1px 10px;
  text-transform: uppercase;
}

.hero h1 {
  color: white;
  font-family:var(--heading-font-family);
  font-size: 40px;
  margin: 0px 0px 10px 320px;
}

.hero h2 {
  color: white;
  font-family: var(--heading-font-family);
  font-size: 65px;
  margin: 15px 0px 0px 470px;
}

.hero h3 {
  color: white;
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 22px;
  margin: 15px 400px 0px 0px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family--heading-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: #f6cca3;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: white;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-image {
  border: 1px solid white;
  padding: 10px 40px;
  box-shadow: 20px 10px #4b5668;
  border-radius: 5px;
}

.project-image:hover {
  cursor: crosshair;
}

.project-description {
  padding: 120px 60px;
}

.social-links a {
  margin: 0 20px;
  color: var(--portfolio-color);
  background: #555273;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.logo {
  max-height: 80px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  font-family: var(--default-font-family);
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #555273;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box,
.contact-page {
  background: var(--portfolio-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: #555273;
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .hero h1 {
    font-size: 44px;
    line-height: 2;
  }
  .hero h2 {
    font-size: 25px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .logo {
    max-height: 40px;
  }

  nav a {
    font-size: 12px;
  }
}
