:root {
  --portfolio-color: #171717;
  --branding-color: #4b5668;
  --secondary-color: #e0cfc2;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body,
html {
  background-color: var(--portfolio-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  font-family: var(--default-font-family);
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  color: var(--portfolio-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box,
.contact-page {
  background: var(--portfolio-color);
  border-radius: 10px;
  padding: 30px 120px;
}

footer .contact-box h3,
h4 {
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  font-weight: normal;
  margin: 0;
}

footer .social-links a {
  color: var(--portfolio-color);
  background: var(--secondary-color);
  border-radius: 50%;
  font-size: 20px;
  margin: 0 20px;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--secondary-color);
  color: white;
  cursor: crosshair;
}

footer .author p,
a {
  color: black;
  font-family: var(--default-font-family);
  font-size: 18px;
  text-decoration: none;
  text-shadow: none;
}

footer .author a:hover {
  color: var(--secondary-color);
  cursor: crosshair;
}

.btn-branding {
  color: var(--portfolio-color);
  background: var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: white;
  cursor: crosshair;
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  cursor: crosshair;
}

.certification-image {
  border-radius: 10px;
  display: block;
  filter: grayscale(90%);
  height: auto;
  padding: 10px 45px;
}

.certification-image:hover {
  box-shadow: 1px 10px 20px var(--secondary-color);
  cursor: crosshair;
  filter: none;
  transition: 0.5s ease;
}

.content-container {
  padding: 15px 0px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-family: var(--default-font-family);
  font-size: 60px;
  line-height: 80px;
  text-shadow: 5px 5px rgb(224 207 194 / 50%);
}

.content h2 {
  font-family: var(--heading-font-family);
  font-size: 18px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.hero {
  background: var(--portfolio-color);
  margin: 1px 10px;
  padding: 80px 20px;
  text-align: center;
  text-transform: uppercase;
}

.hero h1 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-size: 40px;
  margin: 0px 0px 10px 320px;
}

.hero h2 {
  color: white;
  font-family: var(--heading-font-family);
  font-size: 65px;
  margin: 15px 0px 0px 470px;
  text-shadow: 5px 5px rgb(224 207 194 / 50%);
}

.hero h3 {
  color: white;
  font-family: var(--heading-font-family);
  font-size: 22px;
  font-weight: normal;
  margin: 15px 180px 0px 0px;
}

.logo {
  max-height: 80px;
}

.portfolio-content {
  padding: 10px 10px;
}
.portfolio-body {
  background-color: #fff;
  box-shadow: 0px 0px 32px 17px rgba(170, 160, 156, 0.2);
  padding: 1px 20px 3px 15px;
}

.portfolio-body p {
  color: var(--portfolio-color);
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  padding-bottom: 20px;
}

.project-image {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 15px 17px 20px var(--secondary-color);
  filter: grayscale(85%);
  padding: 10px 40px;
}

.project-image:hover {
  cursor: crosshair;
  filter: none;
}

.project-description {
  padding: 10px 20px 180px 30px;
}

.project-description p {
  color: var(--portfolio-color);
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  text-shadow: none;
}

.social-links a {
  color: var(--portfolio-color);
  background: var(--secondary-color);
  border-radius: 50%;
  font-size: 20px;
  margin: 0 20px;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  cursor: crosshair;
}

.title p {
  text-decoration: underline;
  font-size: 35px;
}

.tools-section-container {
  padding: 1px 50px 11px 50px;
}

.tools-image {
  margin-bottom: 5px;
}

.tools-image p {
  font-size: 18px;
  line-height: 30px;
  padding: 0 30px 0 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  nav a {
    font-size: 12px;
  }

  footer .author p,
  a {
    font-size: 7px;
  }

  .btn-branding {
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    display: block;
  }

  .content {
    padding: 0;
    text-align: center;
  }

  .hero h1 {
    font-size: 18px;
    line-height: 2;
    margin: 10px;
  }
  .hero h2 {
    font-size: 25px;
    margin: 1px -60px 0px 0px;
  }

  .hero h3 {
    font-size: 10px;
    margin: 1px 30px 3px 13px;
  }

  .logo {
    max-height: 40px;
  }

  .portfolio-body {
    font-size: 10px;
  }

  .portfolio-body h1 {
    font-size: 28px;
  }

  .portfolio-body h2 {
    font-size: 13px;
  }

  .portfolio-body p {
    font-size: 12px;
    line-height: 15px;
  }

  .portfolio-content {
    font-size: 44px;
  }

  .project-description p {
    font-size: 12px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .title p {
    text-decoration: underline;
    font-size: 15px;
  }
}
